<h1>Welcome back from google</h1>
<ul>
  <% params.each do |param| %>
  <li>
    <%= param.to_s %>
  </li>
  <% end %>
</ul>
<p>
  <%= "Google Plus ID: #{@result.data.id}" %>
  <%= "Google Plus API: #{@plus}" %>
</p>
