<div class="jumbotron">
  <h1>Calendar Reminders</h1>
  <p>An easy and effective way to assist your clients in remembering their scheduled appointments.</p>
</div>
<div class="col-md-4">
  <h3>Who is it for?</h3>
  <p>Calendar Reminders is for any business or individual that makes scheduled appointments with their clients.</p>
  <p>Examples of businesses and individuals that can benefit from using Calendar Reminders includes:</p>
  <ul>
    <li>Private instructors</li>
    <li>Accountants</li>
    <li>Hair salons</li>
    <li>Tattoo shops</li>
    <li>and many more!</li>
  </ul>
  <br/>
</div>
<div class="col-md-4">
  <h3>How does it work?</h3>
  <p>You enter in your contacts and their scheduled appointment times, and we'll automatically send them
  a reminder text message before their appointment.</p>
  <br/>
</div>
<div class="col-md-4">
  <h3>How do I get started?</h3> 
  <p>Log into the application with the "Sign in/Register" link at the top of the page to start using the application. It's free
  to get started.</p>
</div>
