<h1>Welcome!</h1>
<p>Calendar Reminders is an application that will help all of your clients to remember  
  their scheduled appointments.
</p>
<p>Applications include:</p>
<ul>
  <li>Doctors offices</li>
  <li>Mental health professionals</li>
  <li>Tattoo shops</li>
  <li>and many more!</li>
</ul>
