<h2>What is Calendar Reminders?</h2>
<p>Calendar Reminders is an application that will help all of your clients to remember  
  their scheduled appointments.
</p>
<p>Applications include:</p>
<ul>
  <li>Doctors offices</li>
  <li>Mental health professionals</li>
  <li>Tattoo shops</li>
  <li>and many more!</li>
</ul>
<h2>How it works</h2>
<p>You enter in your contacts and their scheduled appointment times, and we'll automatically send them
a reminder text message before their appointment.</p>
<h2>How to get started</h2> 
<p>Log into the application with the "Sign in/Register" link at the top of the page to start using the application.</p>
