<h1>Contacts</h1>
<%= link_to 'New Contact', new_contact_path, class: "pull-right btn btn-default" %>
<% if @contacts.count > 0 %>
  <%= render "contacts_grid" %>
<% else %>
  <i>No contacts found</i>
<% end %>
