<%= form_tag({controller: "appointments", action: "create"}, method: "post") %>
  <span>Start:</span>
  <input type="time" name="start_time" step="900" value="12:00"/>
  <input type="date" name="start_date" />
  <br/>
  <span>Duration:</span>
  <input type="number" name="duration" step="15" min="0" max="90" />
  <span>minutes</span>
  <br/>
  <input type="submit" value="Create appointment" />
</form>
