<h1>Appointments</h1>
<%= link_to "New Appointment", new_appointment_path, { class: "btn btn-default pull-right" } %>
<form>
  <label for="filter">Filter:</label>
  <%= select_tag(:filter, options_for_select([:upcoming, :past, :all], params[:filter].nil? ? :upcoming : params[:filter]), 
    { onchange: "this.form.submit()" })%>
</form>
<% if @appointments.count > 0 %>
  <%= render "appointments_grid" %>
<% else %>
  <i>No appointments found</i>
<% end %>
