<h1>About the company</h1>
<p>We are an independent software vendor based out of Pennsylvania. Our goal is to provide cost-effective software
solutions that are focused on meeting the user's needs.</p>
<h3>Personnel</h3>
<h4>President and CEO - Jonathan Worek</h4>
<div class="col-md-4">
  <%= image_tag("personnel/jon_image_square.png", height: "200", width: "200") %>
</div>
<div class="col-md-8">
  <p>Jonathan is a seasoned technology professional that has been working with computers for as long as he can remember.
  He has worked for a variety of companies in the retail, gaming, healthcare and service industries. He received his 
  Bachelor's degree in computer engineering from the University of Pittsburgh in 2005.</p>
  <p>For more information about Jonathan, view his <a href="http://www.linkedin.com/pub/jonathan-worek/21/163/366/">LinkedIn profile</a>.</p>
</div>
