<h1>Legal</h1>
<p>Use of this software indicates that you have read and agree to all of these terms.</p>
<h3>Warranty</h3>
<p>This software is provided without warranty.  Use it at your own risk.</p>
<h3>Privacy</h3>
<p>While we make every effort possible to protect your personal information,
we make no guarantees that your data will be protected.  You agree to
hold Jonathan Worek harmless in event of data loss or breach.</p>
<p>We do promise to never sell your personal information to any third-party,
and we will only use your data as it relates to the Calendar Reminders
application functionality.</p>
<p>We may also periodically use your email address to provide you with
information regarding your account and to provide you with news about
the Calendar Reminders application.</p>
<h3>HIPAA Advisory</h3>
<p>We make no guarantees that this application is compliant with US HIPAA laws.
If you are a medical provider or are dealing with protected health information (PHI)
in any way, shape or form, it is not recommended that you use this application.
Doing so is at your own risk.</p>
