<footer class="text-center">
  <small>
    <p>Copyright 2013 - <%= Time.now.year %> &copy; | Jonathan Worek<br/>
    Calendar Reminders v <%= CalendarReminders::Application::APPLICATION_VERSION %></p>
  </small>
</footer>
